/* Regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* Header */

header{
    border-bottom: 1px solid #F5F5F6;
}

.nav-header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.nav-header img{
    padding: 0 20px;
    width: 150px;
}

.nav-header a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.nav-sx{
    display: flex;
    list-style-type: none;
    align-items: center;
}

.nav-dx{
    display: flex;
    list-style-type: none;
    align-items: center;
    
}

.nav-header li{
    padding: 0 15px;
}

.button{
    background-color: #3761FF;
    color: white;
    border: none;
    padding: 6px 0;
}

.button a{
    padding: 14px;
    color: white;
}

/* Fine header */

/* Jumbotron */

section{
    height: 580px;
    background-color: #B4D0E7;
}

.container{
    width: 60%;
    margin: auto;
    padding-top: 70px;
}

.container h1{
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 40px;
}

.jumbo{
    display: flex;
   
}

.jumbo p{
    list-style-type: none;
    font-size: 12px;
    font-weight: 500;
    padding: 20px 0;
}

.button a{
    text-decoration: none;
}

.jumbo-immagine{
    height: 360px;
    
}

.jumbo-immagine img{
    height: 100%;
}

.fa-arrow-down{
    font-size: 40px;
    padding-top: 30px;
}
